.cloud {
	width: 200px; height: 60px;
	background: #000;
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
    
    position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #000;
	width: 100px; height: 80px;
	border: 1px solid white; /*Just to see it */
    position: absolute; top: -15px; left: 10px;
    
    border-radius: 100px;
	-moz=border-radius: 100px;
	border-radius: 100px;
    
    position: absolute;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}